body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#vastaus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#saatiedot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#tapahtumat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#lahtevatjunat {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: auto;
}

#lahtevatjunat th, #lahtevatjunat td {
    padding: 12px 15px;
}

#lahtevatjunat th {
    background-color: pink;
}

#liikennekamera {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}


nav {
    background-color: #343155;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    color: pink;
}

.nav-active {
    color: rgb(107, 251, 249);
}

.secondary-nav {
    background-color: #4f4c6f;
    padding: 5px;
}

